#selected-post{
    margin-left: 2%;
    margin-right: 2%;
    font-family: "IBM Plex Sans", sans-serif;
    height: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
}

#post-view-header{
    display: flex;
    border-bottom: 1px solid #747F84;
    flex-direction: column;
    margin-top: 1.5%;
    margin-bottom: 0%;
    height: auto;
}

#post-view-info{
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: .85rem;
}

#post-view-poster{
    margin-top: .35%;
    margin-bottom: 0%;
}

#post-view-title{
    margin-top: 0%;
    margin-bottom: 0%;
    color: #FF5700;
}

#post-view-lf{
    margin-top: .5%;
    margin-bottom: 0%;
    font-size: .8rem;
    color: #747F84;
}

#post-view-content{
    margin-top: 1%;
    margin-bottom: 0%;
}

#post-view-engagement{
    margin-top: 1%;
    margin-bottom: 0%;
    color: #747F84;
    font-size: .85rem;
}

#post-view-add-comment{
    border: none;
    width: 10%;
    height: 2rem;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 5px;
    
}

#post-view-add-comment:hover {
    transition: .5s;
    background-color: #747F84;
    cursor: pointer;
}

#comments{
    margin-top: 4%;
}

.comment-item{
    border-left: 1px solid #747F84;
    padding-left: 1%;
    margin-bottom: 1%;
}

.comment-info{
    margin-top: 0%;
    margin-bottom: 0%;
    color: #747F84;
}

.comment-content{
    margin-top: .5%;
    margin-bottom: 0%;
}

.reply-button{
    margin-top: .5%;
    margin-bottom: 0%;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    background-color: #e5ebee;
    width: 4rem;
    height: 1.75rem;
}

.reply-button:hover {
    transition: .5s;
    background-color: #747F84;
    cursor: pointer;
}